<header class="p-5 flex gap-5 bg-zinc-100 border-b border-b-zinc-200 mb-5">
  <h1 class="text-xl font-bold text-zinc-500">Recipe Book</h1>
  <nav class="flex justify-between flex-auto">
    <ul class="flex gap-5">
      <li>
        <a href="#" class="text-lg font-semibold text-zinc-500">Recipes</a>
      </li>
      <li>
        <a href="#" class="text-lg font-semibold text-zinc-500"
          >Shopping List</a
        >
      </li>
    </ul>
    <div class="relative">
      <button class="text-lg font-semibold text-zinc-500">
        Manage
        <span
          class="border-t-0 border-r-4 border-b-4 border-l-0 border-solid border-zinc-500 inline-block rotate-45 ml-1 p-1"
        ></span>
      </button>
      <ul
        class="hidden flex-col gap-3 justify-around absolute top-full -left-6 p-3 rounded-sm bg-zinc-100"
      >
        <li>
          <a href="#" class="text-lg font-semibold text-zinc-500">Save Data</a>
        </li>
        <li>
          <a href="#" class="text-lg font-semibold text-zinc-500">Fetch Data</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
