<article>
  <div>
    <img src="" alt="" class="w-full h-auto max-h-40" />
  </div>
  <h3 class="text-lg font-bold mb-3">Recipe Name</h3>
  <div class="relative">
    <button
      class="text-lg font-semibold bg-sky-300 text-white py-1 px-3 rounded-md hover:bg-sky-500 transition-colors"
    >
      Manage Recipe
      <span
        class="border-t-0 border-r-4 border-b-4 border-l-0 border-solid border-white inline-block rotate-45 ml-1 p-1"
      ></span>
    </button>
    <ul
      class="hidden flex-col gap-3 justify-around absolute top-full -left-6 p-3 rounded-sm bg-sky-300"
    >
      <li>
        <a
          href="#"
          class="p-3 text-lg font-semibold text-white hover:bg-sky-500 transition-colors rounded-sm"
          >To Shopping list</a
        >
      </li>
      <li>
        <a
          href="#"
          class="p-3 text-lg font-semibold text-white hover:bg-sky-500 transition-colors rounded-sm"
          >Edit Recipe</a
        >
      </li>
      <li>
        <a
          href="#"
          class="p-3 text-lg font-semibold text-white hover:bg-sky-500 transition-colors rounded-sm"
          >Delete Recipe</a
        >
      </li>
    </ul>
  </div>
  <p>Description</p>
  <p>Ingredients</p>
</article>
