<div class="text-center flex flex-col items-center">
  <label>Server Name</label>
  <!-- <input
    type="text"
    class="border-slate-500 border-2 focus:border-slate-300 focus:outline-none"
    (input)="onUpdateServerName($event)"
  /> -->
  <input
    type="text"
    class="border-slate-500 border-2 focus:border-slate-300 focus:outline-none"
    [(ngModel)]="serverName"
  />
  <p class="mb-5">{{ serverName }}</p>
  <input
    type="text"
    class="border-slate-500 border-2 focus:border-slate-300 focus:outline-none"
    [(ngModel)]="userName"
  />
  <p>{{ userName }}</p>
  <button
    class="px-4 py-2 bg-sky-400 rounded-sm border-transparent font-semibold disabled:bg-sky-100 disabled:cursor-not-allowed disabled:text-slate-300"
    [disabled]="!userName.trim()"
    (click)="onAddUser()"
  >
    Reset user name
  </button>
  <button
    class="px-4 py-2 bg-sky-400 rounded-sm border-transparent font-semibold disabled:bg-sky-100 disabled:cursor-not-allowed disabled:text-slate-300"
    (click)="onToggleDisplay()"
  >
    Display Details
  </button>
  <p *ngIf="shownDetails">Secret Password = "Tuna"</p>
  <ul>
    <li
      *ngFor="let log of allLogs; let i = index"
      [ngStyle]="{ backgroundColor: i >= 4 ? 'blue' : 'transparent' }"
      [ngClass]="{ 'text-white': i >= 4 }"
    >
      {{ log }}
    </li>
  </ul>
</div>
<div class="my-5 text-center">
  <button
    class="px-4 py-2 bg-sky-400 rounded-sm border-transparent font-semibold disabled:bg-sky-100 disabled:cursor-not-allowed disabled:text-slate-300"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
  >
    Add new server
  </button>
  <p>{{ allowNewServer ? "active" : "not active" }}</p>
</div>
<!-- {{ createServerStatus }} -->
<p class="m-5 text-center text-xl" *ngIf="serverCreated; else noServer">
  Server was created, and server name is {{ serverName }}
</p>
<ng-template #noServer>
  <p>No server was created</p>
</ng-template>
<app-server *ngFor="let server of servers" />
