<div class="m-5">
  <button
    type="button"
    class="py-1 px-2 bg-green-300 font-semibold text-white rounded-md"
  >
    New Recipe
  </button>
</div>
<hr class="my-2" />
<div>
  <article *ngFor="let recipe of recipes" class="mb-3">
    <a
      href="#"
      class="bg-zinc-100 border border-solid border-zinc-200 rounded-md flex justify-between items-center p-3 hover:bg-slate-200 transition-colors"
    >
      <div>
        <h3 class="text-xl font-bold mb-2">{{ recipe.name }}</h3>
        <p>{{ recipe.description }}</p>
      </div>
      <div>
        <img
          [src]="recipe.imagePath"
          [alt]="recipe.name"
          class="w-full max-h-14 h-auto"
        />
      </div>
    </a>
  </article>
</div>

<app-recipe-item />
