<form class="m-5">
  <div class="flex gap-5 mb-3">
    <div>
      <label for="name" class="mb-3 block font-bold text-lg">Name</label>
      <input
        type="text"
        id="name"
        class="focus:outline-none border indent-2 focus:border-sky-300 transition-colors"
      />
    </div>
    <div>
      <label for="amount" class="mb-3 block font-bold text-lg">Amount</label>
      <input
        type="number"
        id="amount"
        class="focus:outline-none border indent-2 focus:border-sky-300 transition-colors w-1/2"
      />
    </div>
  </div>

  <div>
    <button
      class="py-1 px-2 bg-green-300 text-white font-semibold mr-3 hover:bg-green-500 transition-colors rounded"
      type="submit"
    >
      Add
    </button>
    <button
      class="py-1 px-2 bg-red-300 text-white font-semibold mr-3 hover:bg-red-500 transition-colors rounded"
      type="button"
    >
      Delete
    </button>
    <button
      class="py-1 px-2 bg-sky-300 text-white font-semibold mr-3 hover:bg-sky-500 transition-colors rounded"
      type="button"
    >
      Clear
    </button>
  </div>
</form>
